html,
body {
  background: transparent;
}

body {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Gotham, system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Ubuntu, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.8) #111111;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #111111;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border: 1px solid #111111;
}

.threeJS__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.threeJS__container canvas {
  outline: none;
  border: none;
  max-width: 100%;
  max-height: 100%;
}

.threeJS__container canvas:focus {
  outline: none;
  border: none;
}

.container-fluid {
  width: 100%;
  max-width: 1300px;
  padding: 0px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  width: 48px;
  position: fixed;
  top: 48px;
  left: 48px;
  bottom: 48px;
  z-index: 1024;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 8px;
  z-index: 16;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__logo svg {
  width: 3rem;
  height: 3rem;
}

.header .nav-toggle {
  position: fixed;
  top: 64px;
  right: 64px;
  z-index: 1024;
  display: none;
}

.header .button-icon-only {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 48px;
  position: relative;
  top: -16px;
}

.header__nav-list {
  -webkit-transform: rotate(-90deg) translate3d(-50%, 0, 0);
          transform: rotate(-90deg) translate3d(-50%, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header__nav-link {
  padding: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: initial;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 300ms ease 0.1s;
  transition: color 300ms ease 0.1s;
  line-height: 1;
}

.header__nav-link:active, .header__nav-link:focus, .header__nav-link:hover {
  color: white;
  text-decoration: none;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  left: 8px;
  height: 4px;
  background: #111111;
  -webkit-transform: scaleX(0) translateY(-2px);
          transform: scaleX(0) translateY(-2px);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.header__nav-link:hover::after {
  -webkit-transform: scaleX(1) translateY(-2px);
          transform: scaleX(1) translateY(-2px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header__nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 16;
}

.header__nav-icon-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  width: 48px;
  height: 48px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-icon-link:hover svg {
  fill: #111111;
}

.header__nav-icon-link svg {
  fill: white;
  -webkit-transition: fill 400ms ease;
  transition: fill 400ms ease;
}

.main {
  margin-top: 100vh;
  margin-left: calc(112px + 5rem);
  position: relative;
}

.about {
  width: 100%;
}

.about__heading {
  display: block;
  position: relative;
}

.about__text {
  text-align: justify;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03rem;
  font-weight: 300;
  min-height: 80vh;
}

.about .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .owl-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__img-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main-style.css.map */