$rgbBlack: rgb(0, 0, 0);
$rgbBackground: rgb(17, 17, 17);
$rgbBackground05: rgba(17, 17, 17, 0.5);
$darkBg: #313131;
$darkBlue: #102a43;
$rgbWhite: rgb(255, 255, 255);
$rgbWhite08: rgba(255, 255, 255, 0.8);
$bezierFastoutSlowin: cubic-bezier(0.4, 0.0, 0.2, 1);
$durationXS: 200ms;
$durationS: 300ms;
$durationM: 400ms;
$durationL: 600ms;
$durationXL: 800ms;
$fontStack: Gotham,
system-ui,
-apple-system,
BlinkMacSystemFont,
San Francisco,
Roboto,
Segoe UI,
Ubuntu,
Helvetica Neue,
sans-serif;
$monoFontStack: SFMono Regular,
Roboto Mono,
Consolas,
Liberation Mono,
Menlo,
Courier,
monospace;
$decoderFontStack: ヒラギノ角ゴ Pro W3,
Hiragino Kaku Gothic Pro,
Hiragino Sans,
Osaka,
メイリオ,
Meiryo,
Segoe UI,
sans-serif;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontSizeH1: 3.625rem;
$fontSizeH2: 2.375rem;
$fontSizeH3: 1.625rem;
$fontSizeBodyL: 1.25rem;
$fontSizeBodyM: 1.125rem;
$fontSizeBodyS: 1rem;
$fontSizeBodyXS: 0.8rem;
$lineHeightTitle: 1.1;
$lineHeightBody: 1.5;
$maxWidthS: 480px;
$maxWidthM: 640px;
$maxWidthL: 1096px;
$spaceOuter: 64px;
$spaceXS: 4px;
$spaceS: 8px;
$spaceM: 16px;
$spaceL: 24px;
$spaceXL: 32px;
$space2XL: 48px;
$space3XL: 64px;
$space4XL: 96px;
$space5XL: 128px;

$leftDistance: calc((112px + 5rem) * (-1));


html,
body {
    background: transparent;
}

body {
    margin: 0px;
    box-sizing: border-box;
    font-family: $fontStack;
    font-weight: $fontWeightRegular;
    font-synthesis: none;
    color: $rgbWhite08;
    border: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

* {
    scrollbar-width: thin;
    scrollbar-color: $rgbWhite08 $rgbBackground;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: $rgbBackground;
}

*::-webkit-scrollbar-thumb {
    background-color: $rgbWhite08;
    border-radius: 20px;
    border: 1px solid $rgbBackground;
}

#loading-screen {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.text-underline {
    border-bottom: 2px solid white;
}

.threeJS {
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        canvas {
            outline: none;
            border: none;
            max-width: 100%;
            max-height: 100%;

            &:focus {
                outline: none;
                border: none;
            }
        }
    }

}


.container-fluid {
    width: 100%;
    max-width: 1600px;
}


.header {
    // $headerNavFontSize: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: $space2XL;
    position: fixed;
    top: $space2XL;
    left: $space2XL;
    bottom: $space2XL;
    z-index: 1024;

    &__logo {
        display: flex;
        position: relative;
        padding: $spaceS;
        z-index: 16;
        transition: 0.3s;

        &:hover {
            transform: scale(1.2);
        }

        svg {
            width: 3rem;
            height: 3rem;
        }
    }

    .nav-toggle {
        // $buttonSize: $space2XL);
        position: fixed;
        top: $spaceOuter;
        right: $spaceOuter;
        // width: $buttonSize;
        // height: $buttonSize;
        z-index: 1024;
        display: none;
    }

    .button-icon-only {
        // $buttonPadding: 0;
        // $buttonTextColor: $colorTextBody);
        // width: $buttonSize;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 auto;
        max-width: $space2XL;
        position: relative;
        top: -16px;
    }

    &__nav-list {
        transform: rotate(-90deg) translate3d(-50%, 0, 0);
        display: flex;
        flex-direction: row-reverse;
    }

    &__nav-link {
        padding: $spaceM;
        color: $rgbWhite08;
        font-weight: $fontWeightMedium;
        font-size: initial;
        text-decoration: none;
        position: relative;
        transition: color $durationS ease .1s;
        line-height: 1;

        &:active,
        &:focus,
        &:hover {
            color: $rgbWhite;
            text-decoration: none;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: $spaceS;
            left: $spaceS;
            height: 4px;
            background: $rgbBackground;
            transform: scaleX(0) translateY(-2px);
            transition: transform $durationM $bezierFastoutSlowin;
            transform-origin: right;
        }

        &:hover::after {
            transform: scaleX(1) translateY(-2px);
            transform-origin: left;
        }
    }

    &__nav-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 16;
    }

    &__nav-icon-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spaceS;
        width: $space2XL;
        height: $space2XL;
        color: $rgbWhite08;
        transition: color $durationM $bezierFastoutSlowin;

        &:hover {
            svg {
                fill: $rgbBackground;
            }
        }

        svg {
            fill: $rgbWhite;
            transition: fill $durationM ease;
        }
    }

}

.main-container {
    margin-top: 100vh;
    margin-left: calc(112px + 5rem);
    margin-right: 7px;
    position: relative;
    z-index: 1;
}

.dg main a {
    margin-top: -50px;
}

.about {
    width: 100%;

    &__heading {
        display: block;
        position: relative;
        font-size: $fontSizeH2;
        line-height: $lineHeightBody;
        color: $rgbWhite08;
        font-weight: $fontWeightMedium;
        margin: $space3XL 0 $spaceL 0;

    }

    &__text {
        text-align: justify;
        line-height: 1.5rem;
        color: $rgbWhite08;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased !important;
        -moz-font-smoothing: antialiased !important;
        text-rendering: optimizelegibility !important;
        letter-spacing: .03rem;
        font-weight: 300;
        min-height: 80vh;
    }

    .owl-stage {
        display: flex;
    }

    .owl-item {
        align-self: center;
    }

    &__img-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.refer {
    background-color: transparent;
    position: relative;
    border-radius: 10%;
    width: 100%;
    z-index: 3;
    min-height: 50vh;



    &__container {
        position: relative;
        z-index: 1;
        overflow-y: hidden;


    }

    // &__animation-container {
    //     position: absolute;
    //     height: 100vh;
    //     width: 100vw;
    //     overflow: hidden;
    //     top: 0;
    //     left:$leftDistance

    //     // &--animated {
    //     //     &::after {
    //     //         animation-name: bgOpacityChange;
    //     //     }
    //     // }

    //     // &::after {
    //     //     content: '';
    //     //     position: absolute;
    //     //     height: 100%;
    //     //     width: calc(100% + 112px + 5rem);
    //     //     left:$leftDistance
    //     //     top: 0;
    //     //     z-index: 0;
    //     //     background-image: url('../images-icons/all-companies.png');
    //     //     background-size: cover;
    //     //     background-repeat: repeat;
    //     //     animation-fill-mode: forwards;
    //     //     animation-duration: 12.2s;
    //     //     animation-delay: 0.3s;
    //     //     // transform: rotateZ(35deg);
    //     //     transition: 3s;
    //     //     opacity: 0.5;
    //     //     animation-timing-function: all 500ms cubic-bezier(0.805, 0.250, 0.750, 0.750);
    //     // }
    // }

    // &::before {
    //     content: '';
    //     position: absolute;
    //     height: 100%;
    //     border-top-left-radius: 5%;
    //     border-top-right-radius: 5%;
    //     width: calc(100% + 112px + 5rem);
    //     background: rgba(32, 32, 32, 1);
    //     left:$leftDistance
    //     border-top: 1px solid rgba(0, 0, 0, 0.15);
    //     z-index: 0;
    // }

    &__heading {
        font-size: $fontSizeH1;
        font-weight: $fontWeightBold;
        color: $rgbWhite;
        line-height: $lineHeightTitle;
        margin: 0 0 $spaceXL 0;
        text-transform: uppercase;
        text-align: center;
        max-width: 1024px;
        margin: auto;
    }

    &__subheading {
        font-size: $fontSizeH2;
        line-height: $lineHeightBody;
        color: $rgbWhite08;
        font-weight: $fontWeightMedium;
        margin: $space3XL 0 $spaceL 0;
        text-align: center;
    }

    &__carousel {
        margin-top: 4rem;
    }

    &__company {
        transition: 0.4s ease;



        &-container {
            padding: 1.5rem 1.7rem 3rem 1.7rem;
            margin: 0.25rem;
            background: $rgbWhite;
            border-radius: 1rem;
            overflow-y: hidden;
            max-height: 330px;
            background: linear-gradient(145deg, rgba(255, 255, 255, 1), rgb(221, 221, 221));
            box-shadow: -1px -1px 4px 1px rgba(27, 27, 27, 0.7);
            color: $darkBg;

            &:hover {
                .refer__company {
                    transform: translateY(-222px);
                }

                .refer__company-logo {
                    transform: translateY(-50px);
                }

                .refer__company-text {
                    transform: translateY(-2rem);
                }
            }
        }

        &-logo {
            max-height: 222px;
            transition: 0.4s;
            margin-bottom: 0.75rem;
        }

        &-name {
            text-align: center;
            letter-spacing: 0.7px;
            position: relative;
            transition: 0.4s;
            margin-bottom: 4rem;

            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: $darkBg;
                position: absolute;
                bottom: -12px;
                left: 0;
            }
        }

        &-text {
            text-align: justify;
            line-height: 1.7;
            font-size: $fontSizeBodyXS;
        }
    }

    &__btn {
        background-color: $darkBg;
        border-radius: 12px;
    }
}

.jobs {
    position: relative;
    background: $rgbWhite08;
    width: calc(100% - $leftDistance);
    min-height: 60vh;
    padding-left: calc(112px + 5rem);
    margin-left: $leftDistance;

    &::before {
        background-color: rgba(32, 32, 32, 1);
        position: absolute;
        content: '';
        pointer-events: none;
        left: -25%;
        top: -200px;
        width: 150%;
        height: 290px;
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        transform: rotate(7deg);
        z-index: 0;
    }

    &::after {
        background-color: rgba(32, 32, 32, 1);
        position: absolute;
        content: '';
        pointer-events: none;
        left: -25%;
        bottom: -210px;
        width: 150%;
        height: 300px;
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        transform: rotate(-7deg);
        z-index: 0;
    }

    &__heading {
        font-size: $fontSizeBodyS;
        color: rgb(124, 124, 124);
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        position: relative;
        margin-bottom: 80px;
        padding-top: 200px;

        &::before {
            content: 'Job Offers';
            position: absolute;
            font-size: 9vw;
            width: 100%;
            left: 50%;
            color: $rgbWhite08;
            bottom: -60%;
            opacity: 0.2;
            transform: translate(-50%);
            z-index: 0;
        }

        &::after {
            top: 15px;
            left: 50%;
            bottom: 0;
            position: relative;
            width: 35px;
            height: 2px;
            content: "";
            display: inherit;
            background-color: $darkBlue;
            transform: translateX(-50%);
        }
    }

    &__container {
        // padding-top: 200px;
        padding-bottom: 200px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        grid-gap: 20px;
        grid-template-rows: auto;
        position: relative;
        z-index: 2;
    }



    &__item {
        position: relative;
        padding: 40px;
        // margin-bottom: 30px;
        background-color: #fff;
        border: 1px solid #f0f0f0;
        border-radius: 6px;
        transition: all .5s ease;
        overflow: hidden;
        z-index: 3000;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        display: flex;

        &:hover,
        &:focus,
        &:active {
            color: $darkBlue;
            text-decoration: none;
        }

        &:hover {
            border: 1px solid $darkBlue;
            transform: scale(1.08);
            box-shadow: 0 36px 64px 0 rgba(0, 0, 0, .1);

            .jobs__check {
                width: 200px;
                border-radius: 100px;
                background-color: $darkBlue;

                &-text {
                    left: 16px;
                    opacity: 1;
                    color: $rgbWhite08;
                }

                svg {
                    left: initial;
                    right: 16px;

                    path {
                        fill: $rgbWhite08;
                    }
                }
            }
        }
    }

    &__job-title {
        font-size: $fontSizeBodyL;
        font-weight: 700;
        color: $darkBlue;
        margin-bottom: 0;
    }

    &__salary {
        color: #999;
        font-size: $fontSizeBodyS;
        margin-bottom: 10px;
        font-weight: 700;
    }

    &__town {
        font-size: $fontSizeBodyXS;
        text-transform: uppercase;
        font-weight: 700;
        color: black;
    }

    &__check {
        border-radius: 50%;
        border: 1px solid $darkBlue;
        display: flex;
        display: inline-block;
        width: 40px;
        height: 40px;
        position: relative;
        place-self: flex-end;
        place-content: flex-end;
        transition: 0.5s ease;
        overflow: hidden;
        margin-top: 2rem;

        &-text {
            position: absolute;
            left: -120px;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.5s ease;
            opacity: 0;
            color: $darkBlue;
        }


        svg {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            transition: right 0s;

            path {
                transition: 0.5s ease;
                fill: $darkBlue;
            }
        }
    }

}

.news {
    background-color: white;
    margin-top: 20vh;
    position: relative;
    z-index: 2;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: $darkBlue;


    &__item-container {
        box-shadow: 0px 1px 4px 0px rgba(27, 27, 27, 0.2);
        padding: 1.5rem 1.7rem 3rem 1.7rem;
        border-radius: 0.5rem;
        margin: 2rem 0 3rem 0;
        position: relative;
    }

    &__item {
        overflow: hidden;
        height: 180px;
    }

    &__data {
        font-size: 0.7rem;
        font-weight: 300;
    }

    &__heading {
        font-size: $fontSizeBodyM;
    }

    &__text {
        font-size: $fontSizeBodyXS;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        opacity: 0.6;
    }

    &__btn {
        position: absolute;
        bottom: -1rem;
        width: calc(100% - 3.5rem);
        background: $darkBg;
        height: 42px;
        padding-top: 0.5rem;
        transition: 0.2s;
        left: 50%;
        transform: translateX(-50%);

        &:hover {
            transform: translateX(-50%) translateY(-4px);
        }
    }
}

.contact {
    background-color: transparent;
    min-height: 50vh;
    position: relative;

    &::before {
        background-color: rgba(32, 32, 32, 1);
        position: absolute;
        content: '';
        pointer-events: none;
        left: -25%;
        top: -40%;
        width: 150%;
        height: 85%;
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        transform: rotate(7deg);
        z-index: 0;
    }

    &__form-container {
        padding: 40px;
        background-color: white;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        overflow: hidden;
        min-height: 200px;
        max-width: 540px;
        margin-left: auto;
        margin-top: 5rem;
        transition: 0.3s;
    }

    &__fieldset {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-weight: 700;
        color: $darkBlue;
        line-height: 35px;
        line-height: 2.5rem;
        font-size: 0.7rem;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    &__label-star {
        padding-left: 5px;
        color: rgb(151, 21, 21);
    }


    &__input,
    &__textarea {
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        color: $darkBg;
        border-radius: 2px;
        width: 100%;
        line-height: 16px;
        padding: 0.5rem;
        display: block;

        &:focus {
            border: 1px solid $darkBlue;
            outline: none;

        }
    }

    &__form-btn {
        width: calc(100% - 30px);
        margin: .35em .75em .625em;
        background-color: $darkBg;
    }

    &__info {
        padding: 1rem;
        margin-top: 5rem;
        margin-right: auto;
        max-width: 540px;
    }

    &__link {
        color: $rgbWhite;
        transition: 0.3s;

        svg path {
            transition: 0.3s;
        }

        &:hover,
        &:focus,
        &:active {
            color: $rgbWhite;

            svg path {
                fill: white;
            }
        }
    }
}


.map {
    background-image: url('../images-icons/map.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    position: absolute;
    bottom: 112px;
    left: 0;
    z-index: 0;
}

.footer {
    margin-top: 3rem;
    font-size: 0.7rem;
    background-color: black;
    color: grey;
    width: 100%;
    height: 112px;
    position: relative;
    bottom: 0;
    left: 0;

    &__href {
        color: white;
        transition: 0.3s;

        &:hover {
            color: $darkBlue;
        }
    }
}


.modal {
    color: $darkBlue;

    .btn-secondary {
        background: $darkBg;
    }

    .btn-primary {
        background: $darkBlue;
    }
}

.modal-header {
    color: $darkBlue;
}





.dg-ac {
    z-index: 50;
}