html,
body {
  background: transparent;
}

body {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Gotham, system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Ubuntu, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.8) #111111;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #111111;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border: 1px solid #111111;
}

#loading-screen {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text-underline {
  border-bottom: 2px solid white;
}

.threeJS__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.threeJS__container canvas {
  outline: none;
  border: none;
  max-width: 100%;
  max-height: 100%;
}

.threeJS__container canvas:focus {
  outline: none;
  border: none;
}

.container-fluid {
  width: 100%;
  max-width: 1600px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  width: 48px;
  position: fixed;
  top: 48px;
  left: 48px;
  bottom: 48px;
  z-index: 1024;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 8px;
  z-index: 16;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__logo svg {
  width: 3rem;
  height: 3rem;
}

.header .nav-toggle {
  position: fixed;
  top: 64px;
  right: 64px;
  z-index: 1024;
  display: none;
}

.header .button-icon-only {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 48px;
  position: relative;
  top: -16px;
}

.header__nav-list {
  -webkit-transform: rotate(-90deg) translate3d(-50%, 0, 0);
          transform: rotate(-90deg) translate3d(-50%, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header__nav-link {
  padding: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: initial;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 300ms ease 0.1s;
  transition: color 300ms ease 0.1s;
  line-height: 1;
}

.header__nav-link:active, .header__nav-link:focus, .header__nav-link:hover {
  color: white;
  text-decoration: none;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  left: 8px;
  height: 4px;
  background: #111111;
  -webkit-transform: scaleX(0) translateY(-2px);
          transform: scaleX(0) translateY(-2px);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.header__nav-link:hover::after {
  -webkit-transform: scaleX(1) translateY(-2px);
          transform: scaleX(1) translateY(-2px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header__nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 16;
}

.header__nav-icon-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  width: 48px;
  height: 48px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-icon-link:hover svg {
  fill: #111111;
}

.header__nav-icon-link svg {
  fill: white;
  -webkit-transition: fill 400ms ease;
  transition: fill 400ms ease;
}

.main-container {
  margin-top: 100vh;
  margin-left: calc(112px + 5rem);
  position: relative;
}

.dg main a {
  margin-top: -50px;
}

.about {
  width: 100%;
}

.about__heading {
  display: block;
  position: relative;
}

.about__text {
  text-align: justify;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03rem;
  font-weight: 300;
  min-height: 80vh;
}

.about .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .owl-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__img-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.refer {
  background-color: transparent;
  position: relative;
  border-radius: 10%;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.refer__container {
  position: relative;
  z-index: 1;
  overflow-y: hidden;
}

.refer__animation-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: calc((112px + 5rem) * (-1));
}

.refer__animation-container--animated::after {
  -webkit-animation-name: bgOpacityChange;
          animation-name: bgOpacityChange;
}

.refer__animation-container::after {
  content: '';
  position: absolute;
  height: 100%;
  width: calc(100% + 112px + 5rem);
  left: calc((112px + 5rem) * (-1));
  top: 0;
  z-index: 0;
  background-image: url("../images-icons/all-companies.png");
  background-size: cover;
  background-repeat: repeat;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 12.2s;
          animation-duration: 12.2s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-transition: 3s;
  transition: 3s;
  opacity: 0.5;
  -webkit-animation-timing-function: all 500ms cubic-bezier(0.805, 0.25, 0.75, 0.75);
          animation-timing-function: all 500ms cubic-bezier(0.805, 0.25, 0.75, 0.75);
}

.refer::before {
  content: '';
  position: absolute;
  height: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width: calc(100% + 112px + 5rem);
  background-color: #181818;
  left: calc((112px + 5rem) * (-1));
  z-index: 0;
}

.refer__heading {
  font-size: 2.375rem;
  font-weight: 500;
  color: white;
  line-height: 1.1;
  margin: 0 0 32px 0;
  text-transform: uppercase;
  text-align: center;
}

.refer__subheading {
  font-size: 1.25rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  margin: 64px 0 24px 0;
  text-align: center;
}

@-webkit-keyframes bgOpacityChange {
  from {
    background-position: -20px 50px;
    opacity: 0.5;
  }
  to {
    background-position: 100px -250px;
    opacity: 0.3;
  }
}

@keyframes bgOpacityChange {
  from {
    background-position: -20px 50px;
    opacity: 0.5;
  }
  to {
    background-position: 100px -250px;
    opacity: 0.3;
  }
}
/*# sourceMappingURL=main-style.css.map */