html,
body {
  background: transparent;
}

body {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Gotham, system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Ubuntu, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.8) #111111;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #111111;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border: 1px solid #111111;
}

#loading-screen {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text-underline {
  border-bottom: 2px solid white;
}

.threeJS__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.threeJS__container canvas {
  outline: none;
  border: none;
  max-width: 100%;
  max-height: 100%;
}

.threeJS__container canvas:focus {
  outline: none;
  border: none;
}

.container-fluid {
  width: 100%;
  max-width: 1600px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  width: 48px;
  position: fixed;
  top: 48px;
  left: 48px;
  bottom: 48px;
  z-index: 1024;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 8px;
  z-index: 16;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__logo svg {
  width: 3rem;
  height: 3rem;
}

.header .nav-toggle {
  position: fixed;
  top: 64px;
  right: 64px;
  z-index: 1024;
  display: none;
}

.header .button-icon-only {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 48px;
  position: relative;
  top: -16px;
}

.header__nav-list {
  -webkit-transform: rotate(-90deg) translate3d(-50%, 0, 0);
          transform: rotate(-90deg) translate3d(-50%, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header__nav-link {
  padding: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: initial;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 300ms ease 0.1s;
  transition: color 300ms ease 0.1s;
  line-height: 1;
}

.header__nav-link:active, .header__nav-link:focus, .header__nav-link:hover {
  color: white;
  text-decoration: none;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  left: 8px;
  height: 4px;
  background: #111111;
  -webkit-transform: scaleX(0) translateY(-2px);
          transform: scaleX(0) translateY(-2px);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.header__nav-link:hover::after {
  -webkit-transform: scaleX(1) translateY(-2px);
          transform: scaleX(1) translateY(-2px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header__nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 16;
}

.header__nav-icon-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  width: 48px;
  height: 48px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-icon-link:hover svg {
  fill: #111111;
}

.header__nav-icon-link svg {
  fill: white;
  -webkit-transition: fill 400ms ease;
  transition: fill 400ms ease;
}

.main-container {
  margin-top: 100vh;
  margin-left: calc(112px + 5rem);
  position: relative;
  z-index: 1;
}

.dg main a {
  margin-top: -50px;
}

.about {
  width: 100%;
}

.about__heading {
  display: block;
  position: relative;
}

.about__text {
  text-align: justify;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03rem;
  font-weight: 300;
  min-height: 80vh;
}

.about .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .owl-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__img-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.refer {
  background-color: transparent;
  position: relative;
  border-radius: 10%;
  width: 100%;
  z-index: 3;
  min-height: 50vh;
}

.refer__container {
  position: relative;
  z-index: 1;
  overflow-y: hidden;
}

.refer__heading {
  font-size: 3.625rem;
  font-weight: 700;
  color: white;
  line-height: 1.1;
  margin: 0 0 32px 0;
  text-transform: uppercase;
  text-align: center;
  max-width: 1024px;
  margin: auto;
}

.refer__subheading {
  font-size: 2.375rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  margin: 64px 0 24px 0;
  text-align: center;
}

.refer__carousel {
  margin-top: 4rem;
}

.refer__company {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.refer__company-container {
  padding: 1.5rem 1.7rem 3rem 1.7rem;
  margin: 0.25rem;
  background: white;
  border-radius: 1rem;
  overflow-y: hidden;
  max-height: 330px;
  background: linear-gradient(145deg, white, #dddddd);
  -webkit-box-shadow: -1px -1px 4px 1px rgba(27, 27, 27, 0.7);
          box-shadow: -1px -1px 4px 1px rgba(27, 27, 27, 0.7);
  color: #313131;
}

.refer__company-container:hover .refer__company {
  -webkit-transform: translateY(-222px);
          transform: translateY(-222px);
}

.refer__company-container:hover .refer__company-logo {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.refer__company-container:hover .refer__company-text {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.refer__company-logo {
  max-height: 222px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 0.75rem;
}

.refer__company-name {
  text-align: center;
  letter-spacing: 0.7px;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 4rem;
}

.refer__company-name::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #313131;
  position: absolute;
  bottom: -12px;
  left: 0;
}

.refer__company-text {
  text-align: justify;
  line-height: 1.7;
  font-size: 0.8rem;
}

.refer__btn {
  background-color: #313131;
  border-radius: 12px;
}

.news {
  background-color: white;
  margin-top: 20vh;
  position: relative;
  z-index: 2;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: #102a43;
}

.news__item-container {
  -webkit-box-shadow: 0px 1px 4px 0px rgba(27, 27, 27, 0.2);
          box-shadow: 0px 1px 4px 0px rgba(27, 27, 27, 0.2);
  padding: 1.5rem 1.7rem 3rem 1.7rem;
  border-radius: 0.5rem;
  margin: 2rem 0 3rem 0;
  position: relative;
}

.news__item {
  overflow: hidden;
  height: 180px;
}

.news__data {
  font-size: 0.7rem;
  font-weight: 300;
}

.news__heading {
  font-size: 1.125rem;
}

.news__text {
  font-size: 0.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  opacity: 0.6;
}

.news__btn {
  position: absolute;
  bottom: -1rem;
  width: calc(100% - 3.5rem);
  background: #313131;
  height: 42px;
  padding-top: 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.news__btn:hover {
  -webkit-transform: translateX(-50%) translateY(-4px);
          transform: translateX(-50%) translateY(-4px);
}

.contact {
  background-color: transparent;
  min-height: 50vh;
  position: relative;
}

.contact::before {
  background-color: #202020;
  position: absolute;
  content: '';
  pointer-events: none;
  left: -25%;
  top: -40%;
  width: 150%;
  height: 85%;
  -webkit-transform: rotate(-3deg);
  transform: rotate(7deg);
  z-index: 0;
}

.contact__form-container {
  padding: 40px;
  background-color: white;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  min-height: 200px;
  max-width: 540px;
  margin-left: auto;
  margin-top: 5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__label {
  font-weight: 700;
  color: #102a43;
  line-height: 35px;
  line-height: 2.5rem;
  font-size: 0.7rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.contact__label-star {
  padding-left: 5px;
  color: #971515;
}

.contact__input, .contact__textarea {
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  color: #313131;
  border-radius: 2px;
  width: 100%;
  line-height: 16px;
  padding: 0.5rem;
  display: block;
}

.contact__input:focus, .contact__textarea:focus {
  border: 1px solid #102a43;
  outline: none;
}

.contact__form-btn {
  width: calc(100% - 30px);
  margin: .35em .75em .625em;
  background-color: #313131;
}

.contact__info {
  padding: 1rem;
  margin-top: 5rem;
  margin-right: auto;
  max-width: 540px;
}

.contact__link {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__link svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__link:hover, .contact__link:focus, .contact__link:active {
  color: white;
}

.contact__link:hover svg path, .contact__link:focus svg path, .contact__link:active svg path {
  fill: white;
}

.map {
  background-image: url("../images-icons/map.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.footer {
  margin-top: 3rem;
  font-size: 0.7rem;
  background-color: black;
  color: grey;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer__href {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__href:hover {
  color: #102a43;
}
/*# sourceMappingURL=main-style.css.map */